/* Common shared style */

body{
    font-family: 'Open Sans', sans-serif;
}


/* nav related style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header{
    background-color: #fff8f3;
}

.banner{
    margin: 0px 100px 0px 60px;
    display: flex;
}

.banner .profile-picture{
    width: 300px;
}

.banner-content{
    
    justify-content: space-between;
}