


/* Common shared style */



body{
    font-family: 'Open Sans', sans-serif;
}


/* nav related style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header{
    background-color: #fff8f3;
}

.banner{
    /* margin: 0px 100px 0px 60px; */
    display: flex;
    background-image: url(../images/header_bg.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 56px;
    margin-left: 45px;

}

.banner .profile-picture{
    width: 300px;
    margin-left: 450px;
    margin-bottom: 58px;
    
    
}

.banner-content{
    
    justify-content: space-between;
}

.banner-greetings{
    font-size: 30px;
    
    color: #474747;
    margin-bottom: 0px;

}

.banner-title{
    font-size: 60px;
font-style: normal;
font-weight: 700;

margin-top: 0px;
margin-bottom: 20px;
}

/* about section style */

.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
}

.section-title{
    color:#181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.section-description{
    color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}