/* Common Shared Style */

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    
}

.text-primary{
    color: #fd6e0a;
}

.btn-primary{
    color: white;
    background-color: #fd6e0a;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

.btn-primary-2{
    color: #fd6e0a;
    background-color: transparent;
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin: 0 10px;
}



/* Nav Related Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
     display: flex;  
     align-items: center;  
}

nav > ul > li{
    list-style: none;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #474747;
}
/* Header Related Styles */

.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 500px;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner > .profile-picture{
        width: 300px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content{
    max-width: 500px;
}

.banner-discription{
    color:#474747;
}