/* Common Shared Style */

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    
}

.text-primary{
    color: #fd6e0a;
}

.btn-primary{
    color: white;
    background-color: #fd6e0a;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}



/* Nav Related Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
     display: flex;  
     align-items: center;  
}

nav > ul > li{
    list-style: none;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #474747;
}
/* Header Related Styles */

.header{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner > .profile-picture{
        width: 300px;
}